/*
Created by Bad Pixel	  
E-Mail: info@badpixel.nl
Website: http://www.badpixel.nl		  
*/

*, html,body {
	margin:0;
	padding:0
}

body {
	overflow: hidden;
}

#content {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#666666;
}
#top {
	float:left;
	width:100%;
	height:97%;
}
#bottom {
	text-align:center;
	width:100%;
	height:3%;
	margin:0px;
}